body{
  background-image: url('https://uploads.onecompiler.io/43t6xsukx/43tagwbzu/IMG_20250810_202155.png');
  background-size: cover;
  background-repeat: no-repeat;
}
 .Login-box{
   background: rgba(255, 255, 255, 0.4);
   border-radius: 15px;
   margin: 300px 50px 300px 50px;
   font-weight: bold;
 }
h2{
  text-align: center;
  padding: 5px 0 0 0;
}
label{
  padding: 0 0 0 5px;
}
.username, .password{
  border-radius: 5px;
  text-align: left;
  margin: 5px 10px 5px 10px;
  width: 300px;
  height: 20px;
  font-weight: bold;
}
.F{
  margin: 20px 95px 5px 95px;
}
.S{
  margin: 30px 135px 5px 135px;
}
.submit{
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  width: 100px;
  height: 30px;
  text-align: center;
  margin: 0 115px 10px 115px;
  color: white;
  background-color: #06C755;
}
